html
body
	include ../partials/header
	
	div#main
		h2= "Registration:"
		
		form(action='/register' method='POST')
			div.form-group
				label(for='name') New Username: 
				input#name.form-control(type="text", placeholder="username" name="username")
			div.form-group
				label(for='pw') New Password:   
				input#pw.form-control(type="text" placeholder="password" name="password")
			button.btn.btn-primary(type="submit") Register
			
		if unsuccessful
			b= "Error: username is unavailable. Enter a different username."
			
		
